@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Tomorrow:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    transition: 0.3s;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #f6fafd;
}
main{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    position: relative;
}
aside li.active{
    color:#fff;
}
/* darkmode */
.aside-nav.active{
    background: #303030;
}
.card-pick-order.active{
    background: #ccc;
}
.mars.active{
    color: #fff;
    transition: 0.3s;
}
.burger.active{
    color: #fff;
    transition: 0.3s;
}
.top-navbar.change{
    background: #303030;
    transition: 0.5s;
}
.quick-order.change{
    background: #303030;
    transition: 0.5s;
}
.order-head.active{
    color: #fff;
    transition: 0.3s;
}
.top-menu.active{
    background: #303030;
    transition: 0.3s;
}
.pizza.active{
    background: #303030; 
    transition: 0.3s;
}
.coffee.active{
    background: #303030;
    transition: 0.3s;
}
.water.active{
    background: #303030;
    transition: 0.3s;
}
body.active{
    background: #111 !important;
    transition: 0.5s;
}
.header h1.active{
    color: #fff !important;
    transition: 0.3s;
}
.mode-slider.active{
    background: #5b5b5b;
    transition: 0.3s;
}
.card-body.active{
    background: #303030;
    transition: 0.5s;
}
.item-detail h1.active{
    color: #fff;
    transition: 0.3s;
}
.history-text.change{
    background: #303030;
    border-radius: 5px;
}
.history-text h1.active{
    color: #fff !important;
}
.history-cards.active{
    background: #303030;
}
.history-info h1.active{
    color: #fff;
}
/* darkmode */
aside li{
    transition: 0.5s;
}
aside{
    width: 20%;
    height: 100%;
    position: fixed;
    background: #ffffff;
    z-index: 4;
    transition: 0.5s;

}
.side-items{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
section nav.active{
    width: 0%;
    position: absolute;
    transition: 0.2s;
}
.logo{
    border-bottom: 1px solid #f6f6f6;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}
.logo-area{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.logo-area img{
    width: 50px;
    height: 50px;
}
.logo-area div{
    padding-left: 0.5rem;
}
.logo h2{
    font-size: 30px;
    font-weight: 900;
    font-family: 'exo 2';
    color: #000;
}
.logo span{
    color: #f9ae21;
}
#date{
    font-size: 10px;
    color: #b5b5b5;
}
.arrow{
    background: #f9f8fd;
    padding: 2px;
    transform: rotate(180deg);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.arrow i{
    transition: 0.4s;
}
.arrow i.active{
    transform: rotate(-180deg);
}
.mini-nav{
    border-bottom: 1.5px solid #f6f6f6;
    height: 10vh;
}
.mini-nav-items{
    display: flex;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}
.mini-nav-items > div{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.mini-nav-items img{
    width: 50px;
    height: 50px;
}
.mini-nav-items p{
    font-family: 'exo 2';
    font-weight: 200;
    color: #a8a8a8;
}
.mini-nav-items h1{
    font-family: 'Tomorrow';
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.menu-dashboard{
    border-bottom: 1.5px solid #f6f6f6;
    height: 45vh;
}
.dashboard{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dashboard > div{
    width: 85%;
    margin: 0 auto;
    margin-top: 1.25rem;
}
.dashboard ul li{
    width: 95%;
    margin: 0 auto;
}
.dashboard ul li p{
    padding-left: 0.75rem;
}
.dashboard ul i{
    font-size: 20px;
}
.dashboard h1{
    font-weight: 400;
    color: #a8a8a8;
    font-size: 15px;
    font-family: 'Tomorrow';
}
.dashboard ul {
    color: #00000080;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.dashboard ul li a{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.dashboard ul li:hover{
    border-left: 3px solid #ba1f1d;
    color: #ba1f1d !important;
    transition: 0.3s ease-in-out;
}
.general ul h1{
    font-weight: 400;
    color: #a8a8a8;
    font-size: 15px;
    font-family: 'Tomorrow';
}
.general{
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.general ul{
    color: #00000080;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;

}
.general h1{
    width: 85%;
    margin: 0 auto;
}
.general ul li{
    width: 95%;
    margin: 0 auto;
}
.general ul li a{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.general ul li p{
    padding-left: 0.75rem;
}
.general ul li:hover{
    border-left: 3px solid #ba1f1d;
    color: #ba1f1d;
    transition: 0.3s ease-in-out;
}
.mode-slider{
    background: #f6fafd;
    width: 85%;
    height: 15%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mode-slider-bg{
    width: 50% !important;
    position: absolute !important;
    height: 95%;
    background: #fff;
    margin: auto;
    display: flex;
    align-items: center;
    position: absolute;
    transition:right 0.4s;
    z-index: 3;
    right: 0;
}
.mode-slider-bg.active{
    right: 50%;
}
.slider-text{
    position: relative;
    z-index: 5 !important;
    justify-content: space-between !important;
    cursor: pointer;
}
.slider-text h1,.slider-text i{
    color: #a8a8a8;
}
.slider-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-text h1{
    font-family: 'exo 2';
}
.mode-slider div{
    width: 25%;
    justify-content: center;
}
.mobile-nav-items{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 20vh;
}
.mobile-nav-items .chat{
    height: 20%;
    display: flex;
    align-items: center;
}
.mobile-nav-items > div:nth-child(2){
    background: red;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    height: 20%;
    align-items: center;
}
.mobile-nav-items .share{
    height: 20%;
    display: flex;
    align-items: center;
}
.mobile-nav-items p{
    padding-left: 0.75rem;
}
.nav-items p{
    padding-left: 0.75rem;
}
.my-orders{

}
.nav-area form{
    width: 25%;
    height: 100%;
    padding: 0 5px;
    justify-content: space-between !important;
    background: #f8f9fd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.nav-area form input{
    background: #f8f9fd;
    outline: none;
    margin-left: 5px;  
    font-size: 13px;
    color: #7e7e7e;
}
.search-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type="search"]::-webkit-search-cancel-button {
    color: red;
    background-color: red;
  }
.nav-area form input::placeholder{
    font-size: 14px;
    font-family: 'exo 2';
    letter-spacing: .5px;
}
.nav-area form  button{
    background: #fffffe !important;
    padding:5px 10px;
    border-radius: 5px;

    color: #a8a8a8;

}
.nav-area form i{
    font-size: 15px;
    color: #000000a2;
}
.chat i{
    border: 1.2px solid #7e7e7e;
    padding: 4px;
    font-size: 12px;
    border-radius: 50px;
}
.share {
    border: 1px solid #f6f6f6;
    padding:6px 6px;
    border-radius: 5px;
}
.nav-area{
    font-family: 'exo 2';   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 60%;
    margin: 0 auto; 
}
.nav-area.active{
    display: none;
}
.nav-items p,.nav-items i{
    color: #7e7e7e;
    
}
.nav-items p{
    font-size: 15px;
}
.nav-items div{
    cursor: pointer;
}
.my-orders{
    background: #fff6f9;
border-radius: 8px;
height: 20%;
display: flex;
align-items: center;
    font-family: 'lato';
    position: relative;
padding:0 5px ;
}
.my-orders p{
    padding-left: 3px;
}
.my-orders p, .my-orders i{
    color: #d4a5a7 !important;
}
.notification-card{
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    right: -5%;
    top: -14%;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-card p{
    color: white;
}
nav{
    /* transition: 0.3s; */
    width: 100%;
}
.top-navbar{
    height: 10vh;
    display: flex;
    align-items: center;
    background: #fff;
}

.menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.25rem;
}
.menu > div{
    width: 95%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 20%;
    background: #ffffff;

}
.top-nav{
    width: 80% !important;
    margin-left: 20%;
    width: 100%;
    height: 100vh;
    position: relative;
    transition: 0.3s;
}

.swiper-wrapper{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.dashboard-sec{
    display: none;
}
.history-sec{
    display: none;
    width: 100%;
    height: 100%;
}
.history-sec.active{
    display: block !important;
}
.track-order-sec{
    width: 90% !important;
    height: 90% !important;
    margin: 0 auto;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 4px 2px #00000044;
}
.customer-service-sec{
    display: none;
    width: 100%;
    height: 100%;
}
.swiper{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.25rem;
}
.swiper-info{
    height: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}

.move-left{
    border: 1.5px solid #f1f1f1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center !important;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.move-left i{
    color: #a6a6a6;
}
.menu .header h1{
    color: #1f1f1f;
    font-weight: 700;
    font-family: 'lato';
    font-size: 40px;
}
.menu .header p{
    color: #898989;
    font-family: 'lato';
}
.header{
    padding-left: 0.75rem;
}
.menu-cards{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-top: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 2rem;
    position: relative;
}
.card-body{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #cccccc43;
    cursor: pointer;
    background: #fff;
    min-width: 14%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.item-img img{
    height: 45px;
    width: 50px;
}
.item-detail{
font-family: 'exo 2';
}
.item-detail h1{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.item-detail p{
    font-size: 13px;
    color: #c0888b; 
    text-align: center;
}
.quick-order{
    border-radius: 10px;
    transition: 0.8s;
    transform: translateY(-200%);
    height: 80%;
    width: 25%;
    background: #fff;
    position: fixed;
    top: 10%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;

}
.quick-order.active{
  transform: translateY(0%);
}
.order-items{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.order-items > div:nth-child(1){
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.quick-order .close-x{
    border: 1.7px solid #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-x i{
    font-size: 20px;
    color: #a0a0a0 !important;
}
.order-head h1{
    font-family: 'lato';
    font-weight: 600;
    font-size: 30px;
}
.order-head{
    font-family: 'lato';
}
.items-order{
    height: 50% !important;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.25rem;
    overflow: scroll;
}
.card-pick-order{
    background: #f8f9fe;
    height: 30%;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}
.add-item{
    width: 120%;
    cursor:pointer;

}
.add-item p{
    border: 1px solid #e1e2e6;
    color: #e1e2e6;
    padding: 2px 3px;
    border-radius: 5px;
}
.add-item p:active ,.add-item p:hover{
    background: #eb615d;
    color: #fff;
    transition: 0.2s;
}
.add-item h5{
    font-family: 'lato';
    font-weight: 600;
}
.billing-info p{
    color: #cbcbcb;
    font-size: 12px;
    font-family: 'Tomorrow';
    font-weight: 300;
}
.billing-info hr{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.billing-info div{
    display: flex;
    justify-content: space-between;
}
.billing-info div:last-of-type{
    display: flex;
    justify-content: center;
}

.billing-info div:last-of-type a{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.billing-info h2, h4{
    color: #959595;
    font-size: 14px;
    font-family: 'Tomorrow';
    font-weight: 500;
}
.total p{
    color: #5b5b5b;
    font-size: 14px;
    font-family: 'Tomorrow';
    font-weight: 500;
}
.total h4{
    color: #5b5b5b;
    font-size: 16px;
    font-family: 'Tomorrow';
    font-weight: 600;
}
.billing-info form{
    text-align: center;
    width: 80%;
    height: 5vh;
    border-radius: 5px;

}
.billing-info a input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #ec5956;
    color: #fff;
    font-family: 'lato';
    padding: 10px 0;
}


/*========================== HISTORY PAGE  =========================*/
.history-text{
    width: 95%;
    margin: 0 auto;
    background: #fff;
    height: 20%;
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
}
.history-text    h1{
    color: #1f1f1f;
    font-weight: 700;
    font-family: 'lato';
    font-size: 40px;
    padding-left: 2.5rem;
}
.history-text{
    background: #fff;
}
.history-items{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}
.history-cards{
    width: 80%;
    background: #fff;
    height: 15%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 1.25rem;
}
.history-cards:nth-child(1) .img-area{
    background: #f9ae21;
}
.history-cards:nth-child(2) .img-area{
    background: #ba1f1d;
}
.history-cards:nth-child(3) .img-area{
    background: #000;
}
.history-cards:nth-child(4) .img-area{
    background: #f9ae21;
}
.img-area{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.img-area img{
    width: 50px;
    height: 50px;
}
.history-info{
    font-family: 'Tomorrow';
    color: #1f1f1f;
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name h1{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.name p{
font-size: 20px;
font-weight: 300;
}
.name p span{
font-size: 15px;
font-weight: 600;
}
.name h4{
    color: #A7D94C;
}
.quantity h1:nth-child(1){
    font-size: 15px;
    font-weight: 500;
}
.quantity{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quantity h1:nth-child(1) span{
    font-size: 22px;
    font-weight: 600;
}
.quantity h1:nth-child(2){
    font-size: 15px;
    font-weight: 500;
} 
#map{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 10px;
}
#map.active{
}
/*=============== CUSTOMER SERVICE AREA ===============*/
.service-area{
    width: 90%;
    margin: 0 auto;
}
.service-icon{
    color: #ba1f1d;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 150px;
    margin: 0 auto;
    background:#f9ae21;
    height: 150px;
     border-radius: 50%;
    margin-top: 5vh;
    position: relative;
 
    text-align: center;
    display: flex;
}
.service-icon > i:nth-child(2){
    position: absolute;
    font-size: 13px;
    right: 3rem;
    color: green;
    top: 20%;
}
.service-icon > i:nth-child(3){
    position: absolute;
    font-size: 13px;
    left: 2rem;
}
.customer-service-text{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.customer-service-text h1{
    font-size: 60px;
    font-weight: 600;
}
.customer-service-sec textarea{
    outline: none;
    padding: 20px 0px 0px 20px;
    font-family: 'Tomorrow';
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
    height: 60%;
    margin: 0 auto;
    border-radius: 10px;
}
.customer-service-sec form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 1.25rem;
}
.customer-service-sec form input{
    width: 40%;
    margin: 0 auto;
    height: 5vh;
    color: #fff;
    border-radius: 5px;
    margin-top: 3vh;
    font-weight: 600;
    background: #000;
}
#delivery-time{
    margin: 0 auto;
    font-size: 20px;
    font-family: roboto;
    margin-top: 5vh;
    color: #000;
    font-weight: 600;
}
.logo-tracking h2{
    font-size: 30px;
    font-weight: 900;
    font-family: 'exo 2';
}
.logo-tracking span{
    color: #f9ae21;
}
.mobile-nav-items{
    display: none;
}

.desktop-nav-items{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.desktop-nav-items div{
    display: flex;
    align-items: center;
}
@media screen  and (max-width:650px) {
    body{
        overflow-x: hidden !important;
        width: 100%;
    }
    .aside-nav{
        width: 60.5vw;
        transform: translateX(-100%);
        transition: 0.4s ease-in;
    }
    .aside-nav.move{
        transform: translateX(0);
    }
    .logo-area img{
        width: 40px;
    }
    .logo-area a h2{
        font-size: 20px;
    }
    .dashboard ul p{
        font-weight: 500;
        font-size: 14px;
    }
    .general p{
        font-weight: 500;
        font-size: 14px;
    }
    .mode-slider h1{
        font-weight: 500;
        font-size: 14px;
    }
    /* ==============TOP NAV======== */
    .top-nav{
        margin-left: 0;
        transform: translateX(0);
        transition: 0.4s ease-in;
    }
    .top-nav.move{
        transform: translateX(78%);
    }
    .desktop-nav-items p{
        display: none;
    }
    .top-navbar{

        width: 100vw;
    }
    .top-navbar .nav-area{
        width: 100vw;
    }
    .nav-area form{
        width: 50%;
        margin-left: 1px;
    }
    .nav-area form input{
        width: 60%;
        height: 100%;
    }
    .nav-area form input::placeholder{
        font-size: 9px;
    }

    .nav-area form i{
        font-size: 10px;
    }
    .nav-area form  button{
        padding: 2px 5px;
    }
    .nav-area{
        gap: 5px;
        justify-content: initial;
    }
    .nav-items{
        align-items: center;
        font-size: 13px;
        gap: 20px;
        justify-content:initial;
    }
    .notification-card{
        width: 10px;
        height: 10px;
    }
    /* ================HISTORY SECTION RESPONSIVESNESS =================== */
    .top-nav{
        width: 100% !important;
        height: auto;
    }
    .history-text h1{
        font-size: 30px;
    }
    .history-items{
        margin: 0 auto;
    }
    .history-cards{
        width: 100%;
    }
    .img-area{
        width: 15%;
    }
    .img-area img{
        width: 40px;
        height: 40px;
    }
    .name h1{
        font-size: 20px;
    }
    .name p{
    font-size: 13px;
    }
    .name p span{
        font-size: 12px;
    }
    .quantity h1:nth-child(1) span{
        font-size: 14px;
    }
    .quantity h1:nth-child(2){
        font-size: 12px;
    } 
     /* ================HISTORY SECTION RESPONSIVESNESS =================== */
     .service-area{
     }
     .service-icon{
        width: 80px;
        height: 80px;
     }
     .service-icon > i:nth-child(2){
        display: none;
     }
     .customer-service-text{
        width: 90%;
        margin: 0 auto;
     }
     .customer-service-text h1{
        font-size: 30px;
     }
     .customer-service-text p{
        font-size: 14px;
     }
     .customer-service-sec textarea{
        font-size: 14px;
        width: 90%;
     }
     .customer-service-sec form input{
        width: 60%;
     }
    /* ================ DASHBOARD RESPONSIVESNESS =================== */
    .menu-cards{
        gap: 10px;
        align-content: start;
    }
    .card-body{
        width: 30%;
    }
    /* ================ ADD TO CART RESPONSIVESNESS =================== */
    .quick-order{
        width: 80%;
    }



}
@media screen  and (max-width:1023px) and (min-width:651px) {
    .logo-area{
        width: 100%;
    }
    .logo-area img{
        display: none;
    }
    .logo-area h2{
        font-size: 100%;
    }
    .desktop-nav-items p{
    display: none;
    }
    .nav-area form{
        width: 40%;
    }
    .nav-area form input::placeholder{
        font-size: 14px;
        font-family: 'exo 2';
        letter-spacing: .5px;
    }
    .my-orders div{
        width: 15px;
        height: 15px;
    }
    .quick-order{
        width: 40%;
    }
    .menu-dashboard p{
       font-size: 11px !important;
    }
    .general p{
        font-size: 11px !important;
    }
    .customer-service-text h1{
        font-size: 30px;
    }
    .card-body{
        min-width: 20%;
        gap: 2px;
    }
}
@media screen  and (max-width:1300px) and (min-width:1024px) {
    .logo-area h2{
        font-size: 100%;
    }
}